* {
  box-sizing: border-box;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", sans-serif;
  margin: 0;
}

section {
  min-height: 150vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section:first-child {
  background-color: #aaa;
  display: flex;
  flex-direction: column;
}

section:nth-child(2) {
  background-color: #bbb;
}

section:nth-child(3) {
  background-color: #ccc;
}

section:nth-child(4) {
  background-color: #eee;
}

section:nth-child(5) {
  background-color: #ddd;
  display: flex;
  flex-direction: column;
}

.serial {
  background-color: #eee;
  width: 200px;
  height: 66.5px;
  padding: 20px;
  margin: 40px auto 0;
  border-radius: 4px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}

.generate {
  display: block;
  background-color: #ff5722;
  width: fit-content;
  padding: 10px 20px;
  margin: 20px auto;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
  user-select: none;
}

.generate:hover {
  background-color: white;
  color: #ff5722;
}

.progress {
  position: relative;
  width: 500px;
  height: 30px;
  background-color: white;
  margin: 10px;
}

.progress span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: indianred;
  transition: width 0.3s linear;
}

.nums {
  width: 400px;
  display: flex;
}

.nums .num {
  flex: 1;
  text-align: center;
  font: 40px;
  padding: 20px;
}

.random {
  width: 90%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.random span {
  background-color: bisque;
  width: fit-content;
  padding: 20px;
  border-radius: 5px;
  color: black;
}

.up {
  position: fixed;
  bottom: 10px;
  right: -30px;
  background-color: #ff5722;
  color: wheat;
  font-weight: bold;
  font-size: 12px;
  padding: 5px;
  border-radius: 4px;
  font-family: Arial, Tahoma;
  cursor: pointer;
  transition: 0.2s;
}

.up.show {
  right: 10px;
}

.switcher {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.switcher li {
  padding: 10px 15px;
  background-color: #eee;
  min-width: 105px;
  font-weight: bold;
  text-align: center;
  transition: 0.2s;
  cursor: pointer;
}

.switcher li.active,
.switcher li:hover {
  background-color: red;
  color: white;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  margin: auto;
}

.gallery img {
  margin-bottom: 10px;
  transition: 0.3s;
  margin-left: 5px;
  margin-right: 5px;
}